$lilypad-colour: #16492b;
$frog-background: #289656;
$frog-legs: lightgreen;
$frog-tummy: #42f47a;

$lilypad-shape: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 63% 68%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

body {
  background: lightblue;

}

.box {
  width: 400px;
  height: 400px;
  top: 100px;
  position: relative;
  margin: auto;
}
.lilypad {
  width: 100%;
  height: 100%;
  top: 20%;
  background: $lilypad-colour;
  transform: rotateX(70deg);
  position: absolute;
  z-index: -1;
  clip-path: $lilypad-shape;
  border-radius: 50%;
}
.frog {
  width: 80%;
  height: 70%;
  position: absolute;
  left: 10%;
}
.feet {
  width: 100%;
  height: 10%;
  background: $frog-legs;
  border-radius: 20%;
  position: absolute;
  top: 90%;
}
.left-leg {
  width: 22%;
  height: 55%;
  background: $frog-legs;
  border-radius: 50%;
  transform: rotate(-24deg);
  position: absolute;
  top: 45%;
  z-index: 1;
}
.right-leg {
  width: 22%;
  height: 55%;
  background: $frog-legs;
  border-radius: 50%;
  transform: rotate(24deg);
  position: absolute;
  top: 45%;
  left: 78%;
  z-index: 1;
}
.body {
  width: 70%;
  height: 80%;
  background: $frog-background;
  position: absolute;
  left: 15%;
  top: 20%;
  border-radius: 50% 50% 20% 20%;
  z-index: 2;
}
.left-eye {
  width: 40%;
  height: 40%;
  background: $frog-background;
  border-radius: 50%;
  position: absolute;
  left: -4%;
  top: -10%;
}
.right-eye {
  width: 40%;
  height: 40%;
  background: $frog-background;
  border-radius: 50%;
  position: absolute;
  left: 64%;
  top: -10%;
}
.eyeball {
  width: 70%;
  height: 70%;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 12%;
  top: 12%;
}
.pupil {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: brown;
  position: absolute;
  top: 15%;
  left: 15%;
}
.tummy {
  width: 80%;
  height: 70%;
  background: $frog-tummy;
  border-radius: 40% 40% 30% 30%;
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 3;
}
.tummy::after {
  content: "";
  position: absolute;
  top: 20%;
  width: 100%;
  height: 80%;
  border-radius: 50%;
  z-index: 4;
  background: $frog-tummy;
  animation-name: ribbit;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes ribbit {
  30% {
    transform: scale(1.2, 1.4);
  }
}