.container {
  position: relative;
  height: 640px;
  width: 100%;
  min-width: 520px;
}

.title {
  z-index: 11;
  position: relative;
  font-size: 6em;
  display: flex;
  justify-content: center;
  padding-top: 20%;
  color: brown;
  font-family: "Major Mono Display", monospace;
}

.layer-0 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e85a4f;
  background-image: linear-gradient(to right, #e85a4f, #FFA726);
  opacity: 0.4;
}

.layer-1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, red, yellow);
  opacity: 0.3;
  -webkit-clip-path: polygon(0% 100%, 21% 100%, 21% 80%, 34% 81%, 35% 100%, 41% 100%, 41% 80%, 48% 81%, 48% 64%, 55% 64%, 55% 53%, 62% 53%, 62% 64%, 69% 64%, 69% 75%, 76% 75%, 76% 86%, 83% 86%, 83% 100%, 100% 100%);
          clip-path: polygon(0% 100%, 21% 100%, 21% 80%, 34% 81%, 35% 100%, 41% 100%, 41% 80%, 48% 81%, 48% 64%, 55% 64%, 55% 53%, 62% 53%, 62% 64%, 69% 64%, 69% 75%, 76% 75%, 76% 86%, 83% 86%, 83% 100%, 100% 100%);
}

.layer-2 {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, red, #d7493e);
  opacity: 0.2;
  -webkit-clip-path: polygon(0% 100%, 8% 100%, 8% 58%, 14% 58%, 14% 100%, 19% 100%, 19% 53%, 24% 42%, 29% 53%, 30% 100%, 38% 100%, 38% 86%, 34% 86%, 34% 75%, 38% 75%, 38% 69%, 34% 69%, 35% 64%, 38% 64%, 38% 58%, 35% 58%, 35% 53%, 48% 53%, 48% 58%, 45% 58%, 45% 64%, 48% 64%, 48% 69%, 45% 69%, 45% 75%, 48% 75%, 48% 80%, 45% 80%, 45% 100%, 59% 100%, 59% 69%, 62% 69%, 62% 80%, 66% 80%, 66% 64%, 69% 64%, 69% 75%, 76% 75%, 76% 99%, 85% 100%, 85% 80%, 90% 80%, 91% 99%, 95% 100%, 95% 64%, 100% 63%, 100% 100%, 100% 100%);
          clip-path: polygon(0% 100%, 8% 100%, 8% 58%, 14% 58%, 14% 100%, 19% 100%, 19% 53%, 24% 42%, 29% 53%, 30% 100%, 38% 100%, 38% 86%, 34% 86%, 34% 75%, 38% 75%, 38% 69%, 34% 69%, 35% 64%, 38% 64%, 38% 58%, 35% 58%, 35% 53%, 48% 53%, 48% 58%, 45% 58%, 45% 64%, 48% 64%, 48% 69%, 45% 69%, 45% 75%, 48% 75%, 48% 80%, 45% 80%, 45% 100%, 59% 100%, 59% 69%, 62% 69%, 62% 80%, 66% 80%, 66% 64%, 69% 64%, 69% 75%, 76% 75%, 76% 99%, 85% 100%, 85% 80%, 90% 80%, 91% 99%, 95% 100%, 95% 64%, 100% 63%, 100% 100%, 100% 100%);
}

.layer-3 {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e85a4f;
  opacity: 0.8;
  -webkit-clip-path: polygon(0% 82%, 7% 82%, 7% 91%, 13% 92%, 13% 74%, 19% 75%, 19% 92%, 24% 92%, 24% 97%, 35% 97%, 34% 86%, 41% 86%, 41% 91%, 45% 91%, 45% 75%, 48% 75%, 48% 86%, 52% 86%, 52% 70%, 55% 70%, 55% 92%, 60% 91%, 60% 97%, 64% 97%, 64% 86%, 67% 80%, 71% 86%, 72% 97%, 76% 97%, 76% 86%, 83% 86%, 83% 92%, 86% 92%, 86% 80%, 93% 80%, 93% 92%, 100% 91%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 82%, 7% 82%, 7% 91%, 13% 92%, 13% 74%, 19% 75%, 19% 92%, 24% 92%, 24% 97%, 35% 97%, 34% 86%, 41% 86%, 41% 91%, 45% 91%, 45% 75%, 48% 75%, 48% 86%, 52% 86%, 52% 70%, 55% 70%, 55% 92%, 60% 91%, 60% 97%, 64% 97%, 64% 86%, 67% 80%, 71% 86%, 72% 97%, 76% 97%, 76% 86%, 83% 86%, 83% 92%, 86% 92%, 86% 80%, 93% 80%, 93% 92%, 100% 91%, 100% 100%, 0% 100%);
}

.layer-4 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: red;
  -webkit-clip-path: polygon(0% 100%, 17% 100%, 24% 0%, 25% 100%, 39% 0%, 28% 99%, 41% 100%, 32% 0%, 51% 99%, 55% 100%, 68% 0%, 61% 100%, 67% 100%, 74% 0%, 71% 100%, 79% 100%, 60% 0%, 89% 100%, 92% 100%, 91% 0%, 97% 99%, 100% 100%, 80% 0%, 94% 100%);
          clip-path: polygon(0% 100%, 17% 100%, 24% 0%, 25% 100%, 39% 0%, 28% 99%, 41% 100%, 32% 0%, 51% 99%, 55% 100%, 68% 0%, 61% 100%, 67% 100%, 74% 0%, 71% 100%, 79% 100%, 60% 0%, 89% 100%, 92% 100%, 91% 0%, 97% 99%, 100% 100%, 80% 0%, 94% 100%);
}

.layer-n {
  width: 100%;
  height: 100%;
  background: #eae7dc;
  z-index: 10;
  position: absolute;
  opacity: 0.9;
  -webkit-clip-path: polygon(0% 0%, 0% 75%, 10% 75%, 10% 58%, 17% 58%, 17% 64%, 21% 64%, 21% 36%, 24% 36%, 24% 31%, 27% 25%, 31% 31%, 31% 36%, 34% 36%, 35% 46%, 39% 47%, 39% 19%, 43% 19%, 43% 58%, 48% 58%, 48% 42%, 52% 36%, 52% 41%, 55% 37%, 55% 41%, 59% 36%, 59% 53%, 62% 52%, 62% 30%, 65% 25%, 67% 30%, 68% 63%, 72% 63%, 73% 42%, 77% 42%, 77% 52%, 81% 53%, 81% 69%, 86% 70%, 86% 75%, 90% 75%, 90% 53%, 97% 53%, 97% 68%, 100% 68%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 75%, 10% 75%, 10% 58%, 17% 58%, 17% 64%, 21% 64%, 21% 36%, 24% 36%, 24% 31%, 27% 25%, 31% 31%, 31% 36%, 34% 36%, 35% 46%, 39% 47%, 39% 19%, 43% 19%, 43% 58%, 48% 58%, 48% 42%, 52% 36%, 52% 41%, 55% 37%, 55% 41%, 59% 36%, 59% 53%, 62% 52%, 62% 30%, 65% 25%, 67% 30%, 68% 63%, 72% 63%, 73% 42%, 77% 42%, 77% 52%, 81% 53%, 81% 69%, 86% 70%, 86% 75%, 90% 75%, 90% 53%, 97% 53%, 97% 68%, 100% 68%, 100% 0%);
}
