.box
  .lilypad
  .frog
    .feet
    .left-leg
    .right-leg
    .body
      .left-eye
        .eyeball
          .pupil
      .right-eye
        .eyeball
          .pupil
      .nose
        .left-nostril
        .right-nostril
      .mouth
      .tummy